.sidebar{
    z-index: 2;
    height: 100vh;
    width: auto;
    border-right: 1px solid rgba(0,0,0,.1);
    font-family: "Anonymous Pro",monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform 350ms ease-in-out;
    transform: translateX(-100%);

// MAIN TAB


    &__mainTab{

        display: flex;
        background-color: #fff;
        flex-direction: column;
        padding: 50px 25px;
        height: 100%;
        width: 316px;
        box-sizing: border-box;

        .sidebar__info{
            h1{
                font-size: px;
                font-weight: 700;
                margin-bottom: 20px;
                padding-bottom: 20px;
            }
    
            .totalCases{
                margin-bottom: 20px;
                .cases{
                    font-size: 2.3em;
                    font-weight: 700;
                }
                &--yellow{
                    span{
                        color: rgb(245, 157, 43);
                    }
                }
                &--green{
                    span{
                        color: rgb(9, 216, 9);
                    }
                }
                &--red{
                    span{
                        color: rgb(255, 0, 0);
                    }
                }
            }
        }

        .sidebar__country{
            max-height: 100%;
            border-top: 1px dotted;
            border-bottom: 1px dotted;
            overflow: scroll;
            cursor: pointer;

            .item{
                display: flex;
                justify-content: space-between;
                box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
                margin-top: 10px;
                padding: 10px;
                border: 1px solid rgba(0,0,0,.05)
            }
        }
    }

// SIDE TAB

    &__sideTab{
        position: relative;
        width: 316px;
        background-color: #f5f5f5;
        transition: transform ease-out 150ms;
        transform-origin: left;
        z-index: 9;
        
        .sideTab__content{
            padding: 50px 25px;
            height: 100%;
        }

        .sideTab__totalCase{
            margin-top: 20px;
            margin-bottom: 30px;

            span{
                font-size: 1.3em;
                font-weight: 700;
            }
        }

        .sidetab__details{
            span{
                font-size: 16px;
                font-weight: 700;
            }
            .card{
                background-color: white;

                .legend{
                    display: flex;
                    &::before{
                        content: 'a';
                    }
                    .cases{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            
        }

        .sideTab__closeTab{
            position: absolute;
            display: block;
            top: 30px;
            left: 100%;
            background-color: #f5f5f5;
            border-top-right-radius: 10%;
            border-bottom-right-radius: 10%;
            padding: 15px 10px 15px 5px;
            cursor: pointer;
        }
    }

    .closed {
        display: none;
        transform: scaleX(0)
    }
    .open {
        display: block;
        transform: scaleX(1)
    }

}

.card {
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 5px;

    .moreButton {
      text-align: center;
      padding-top: 10px;
      cursor: pointer;

      &.open {
        transform: rotate(180deg);
        padding-top: 0;
        padding-bottom: 10px;
      }

      svg {
        transform: rotate(-90deg);
      }
    }

    .legend {
      display: grid;
      padding-top: 16px;
      grid-template-columns: 8px auto min-content;
      align-items: center;
      grid-gap: 16px 8px;
      font-size: 13px;
      line-height: 20px;

      &.green {
        .color {
          background-color: #5cbb5c;
        }
      }
      &.red {
        .color {
          background-color: #e22929;
        }
      }
      &.grey {
        .color {
          background-color: grey;
        }
      }
      &.orange {
        padding-top: 0;
        .color {
          background-color: orange;
        }
      }
    }

    .color {
      height: 8px;
      width: 8px;
      border-radius: 8px;
    }
  }